body{
    background-color: var(--clr-bg) ;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
}

.nav__container-logo{
    display: flex;
}


.nav__container-list{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
}



.nav__container-list li{
    cursor: pointer;
}

.nav__container-list li:hover{
    text-decoration: underline;
    text-underline-offset: 0.3em;
}


.section1__container{
    position: relative;
    background-image: url(./assets/background-section1.svg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.section1__container-image{
    position: absolute;
}

.section1__fille{
    position: absolute;
    right: -5rem;
    transform: scale(2.5);
}

.section1__garcon{
    position: absolute;
    left: -5rem;
    transform: scale(2.5);

}




.section1__image-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 8rem;
    z-index: 10;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2rem;
}

.section1__text{
    z-index: 9;
}



.section2__container{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200vh;
    margin-top: 5rem;
}

span{
    font-size: 1.3rem;
    color: var(--clr-yellow);
}

.section2__container-image{
    position: absolute;
    right: 10rem;
    top: 10%;
}


.section2__container-forme1{
    position: absolute;
    left: 15rem;
    top: 10rem;
    background-image: url(./assets/forme1.svg);  
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;   
    z-index: -1;
}

.section2__image-text1{
    position: absolute;
    left: 20rem;
    top: 15rem;
    max-width: 30rem;
}

.section2__container-forme2{
    position: absolute;
    left: 0rem;
    top: 26rem;
    background-image: url(./assets/forme2.svg);  
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    z-index: -1;
}

.section2__image-text2{
    position: absolute;
    left: 8rem;
    top: 35rem;
    max-width: 20rem;
}


.section2__container-forme3{
    position: absolute;
    left: 5rem;
    bottom: 45rem;
    background-image: url(./assets/forme3.svg);  
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    z-index: -1;
}

.section2__image-text3{
    position: absolute;
    left: 15rem;
    bottom: 52rem;
    max-width: 40rem;
}



.section2__container-forme4{
    position: absolute;
    left: 40rem;
    bottom: 25rem;
    background-image: url(./assets/forme4.svg);  
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    z-index: -1;
}

.section2__image-text4{
    position: absolute;
    left: 48rem;
    bottom: 33rem;
    max-width: 30rem;
}


.section2__container-forme5{
    position: absolute;
    left: 80rem;
    bottom: 35rem;
    background-image: url(./assets/forme5.svg);  
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

.section2__image-text5{
    position: absolute;
    left: 85rem;
    bottom: 47rem;
    max-width: 25rem;
}



.section3__container{
    position: relative;
    background-image: url(./assets/bk-section2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.section4__container{
    margin-top: 10rem;
    margin-bottom: 10rem;

}

.section4__container-image{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.section4__container-text{
    display: flex;
    justify-content: center;
    width: 100%;
}

.section4__desc{
    width: 70%;
    text-align: center;
}

.section5__container{
    background-image: url(./assets/bk-section5.svg);

    background-repeat: no-repeat;

    margin-bottom: 10rem;
}

.section5__container-image{
    display: flex;
    justify-content: center;
}

.section5__desc{
    display: flex;
    justify-content: center;
    width: 70%;
    text-align: center;
}



.section6__container{
    background-image: url(./assets/bk-section6.svg);
    background-size: contain;
    background-repeat: no-repeat;

    margin-bottom: 10rem;
}

.section6__container-image{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}



.section7__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
}

.section7__container-image {
    position: relative;
    z-index: 1;
    margin-right: 2rem; /* Adjust the spacing as needed */
}

.section7__container-boules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 3rem;
    z-index: 0;
}

.section7__boule-bleu,
.section7__boule-rose,
.section7__boule-rose2,
.section7__boule-violette,
.section7__boule-violette2,
.section7__boule-violette3,
.section7__boule-jaune,
.section7__boule-jaune2 {
    position: absolute;
}

.section7__boule-bleu {
    top: -2rem;
    left: -3rem;
}

.section7__boule-rose {
    top: 1rem;
    left: 2rem;
}

.section7__boule-rose2 {
    top: -1rem;
    left: 5rem;
}

.section7__boule-violette {
    top: 3rem;
    left: -1rem;
}

.section7__boule-violette2 {
    top: 4rem;
    left: 4rem;
}

.section7__boule-violette3 {
    top: 0rem;
    left: 7rem;
}

.section7__boule-jaune {
    top: 2rem;
    left: 8rem;
}

.section7__boule-jaune2 {
    top: -3rem;
    left: 10rem;
}


.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-footer);
    padding-bottom:3rem;
    margin-top: 3rem;
}

.footer__container-text{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
    gap: 5rem;
}

.footer__category{
    font-size: 1.3rem;
    cursor: pointer;
}

.footer__slogan{
    font-size: 1rem;
}

.footer__réseaux{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.footer__logo{
    height: 2rem;
    width: 2rem;
}

.footer__container-credit{
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer__svg{
    display:flex;
    flex-direction:row;
    gap: 3rem;
}

.footer__credit{
    margin: 0;
    color: grey;
}

.footer__réseaux{
    margin-top: 2rem;
}

.footer__category:hover{
    text-decoration: underline;
    text-underline-offset: 0.3em;
}