body{
    background-color: var(--clr-bg) ;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
}

.nav__container-logo{
    display: flex;
}


.nav__container-list{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    
}

.section6__container{
    margin-bottom: 5rem;
}

.section6__container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.section6__image{
    width: 80%;
    height: auto;
    z-index: 1;
}
.nav__container-list a{
    text-decoration: none;
}


.nav__container-list li{
    cursor: pointer;
}

.nav__container-list li:hover{
    text-decoration: underline;
    text-underline-offset: 0.3em;
}


.section1__container{
    position: relative;
    background-image: url(./assets/background-section1.svg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.section1__container-image{
    position: absolute;
}

.section1__fille{
    position: absolute;
    right: -5rem;
    transform: scale(2.5);
}

.section1__garcon{
    position: absolute;
    left: -5rem;
    transform: scale(2.5);

}

.section1__star1{
    position: absolute;
    z-index: 15;
}


.section1__image-text {
    position: absolute;
    font-size: 8rem;
    z-index: 10;
    top: 20%;
    left: 24%;
    animation: zoomIn 1.2s ease-in forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.section1__text{
    z-index: 9;
}



.section2__container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 200vh;
    margin-top: 5rem;
}

span{
    font-size: 1.3rem;
    color: var(--clr-yellow);
}

.section2__container-image{
    position: absolute;
    background-color: var(--clr-bg);
    height: 30rem;
    right: -5%;
    top: 10%;
    padding-right: 10%;
}


.section2__container-forme1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    top: 20%;
    z-index: -1;
}



.section2__image-text1{
    max-width: 30rem;
    z-index: 1;
}

.section2__forme1{
    position: absolute;
    width: 35rem;
    height: 25rem;
    z-index: -1;
}

.section2__container-forme2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    top: 20%;
    z-index: -1;
}

.section2__image-text2{
    max-width: 20rem;
    z-index: 1;

}

.section2__forme2{
    position: absolute;
    width: 35rem;
    height: 25rem;
    z-index: -1;
}



.section2__container-forme3{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    top: 20%;
    z-index: -1;
}

.section2__image-text3{
    max-width: 40rem;
    z-index: 1;
    margin: 0;
    margin-right: -7rem;
}

.section2__forme3{
    position: absolute;
    width: 50rem;
    height: 40rem;
    z-index: -1;

}




.section2__container-forme4{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    top: 20%;
    z-index: -1;
}

.section2__image-text4{
    max-width: 30rem;
    z-index: 1;

}

.section2__forme4{
    position: absolute;
    width: 45rem;
    height: 30rem;
    z-index: -1;
}


.section2__container-forme5{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    top: 20%;
    z-index: -1;
}

.section2__image-text5{
    max-width: 25rem;
    z-index: 1;
    margin-bottom: 1rem;
}

.section2__forme5{
    position: absolute;
    width: 40rem;
    height: 33rem;
    z-index: -1;
}


@media (max-width: 768px) {
    .section2__container {
        height: auto;
    }

    .section2__container-image,
    .section2__container-forme1,
    .section2__image-text1,
    .section2__container-forme2,
    .section2__image-text2,
    .section2__container-forme3,
    .section2__image-text3,
    .section2__container-forme4,
    .section2__image-text4,
    .section2__container-forme5 {
        position: static;
        width: 100%;
        height: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: none;
        margin: 1rem 0;
    }

    .section2__container-forme1,
    .section2__container-forme2,
    .section2__container-forme3,
    .section2__container-forme4,
    .section2__container-forme5 {
        background-size: cover;
    }
}



.section3__container{
    position: relative;
    background-image: url(./assets/bk-section2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.section4__container{
    margin-top: 10rem;
    margin-bottom: 10rem;

}


.section4__container-fille{
    display: flex;
    justify-content: center;
    
}

.section4__fille{
    position: absolute;
    width: 20rem;
    
}

.section4__container-image{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}

/* .section4__container-text{
    display: flex;
    justify-content: center;
    width: 100%;
}

.section4__desc{
    width: 70%;
    text-align: center;
} */

.section4__container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  .section4__desc {
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: 1; /* Le texte est invisible au départ */
  }  



.section5__container{
    background-image: url(./assets/bk-section5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;
}

.section5__container-image{
    display: flex;
    justify-content: center;
}



.section5__container-garcon{
    display: flex;
    justify-content: start;
    
}

.section5__garcon{
    position: absolute;
    width: 20rem;
    
}


.section4__graphe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 85rem;
    height: 40rem;
    min-width: 45rem;
    max-height: fit-content;
}

.section5__desc{
    display: flex;
    justify-content: center;
    width: 70%;
    text-align: center;
}



.section6__container {
    position: relative;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    pointer-events: none; 
}












.section7__container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-block: 20rem;
}

.section7__container-image {
    z-index: 1;
    margin-right: 2rem; 
}



.section7__boule-rose1 {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--clr-pink);
    border-radius: 100%;
    left: 10%;
    top: 50%;
}





.section7__boule-jaune1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: var(--clr-yellow);
    border-radius: 100%;
}

.section7__boule-jaune1-text{
    font-size: 2rem;
    margin: 0;
}

.section7__info1-text{
    font-size: 1rem;
    width: 20rem;
    margin: 0;
    text-align: start;
}







.section7__boule-vert1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: var(--clr-green);
    border-radius: 100%;
}

.section7__boule-vert1-text{
    font-size: 2.5rem;
    margin: 0;
}

.section7__info2-text{
    font-size: 1rem;
    width: 20rem;
    margin: 0;
    text-align: start;
}












.section7__boule-violet1{
    position: absolute;
    background-color: var(--clr-purple);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    left: 10%;
    top: 50%;
}

.section7__boule-jaune2{
    position: absolute;
    background-color: var(--clr-yellow);
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    left: 10%;
    top: 50%;
}

.section7__boule-bleu{
    position: absolute;
    background-color: var(--clr-blue);
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    left: 10%;
    top: 50%;
}

.section7__boule-violet2{
    position: absolute;
    background-color: var(--clr-purple);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    left: 10%;
    top: 50%;
}







.section7__boule-rose2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: var(--clr-pink);
    border-radius: 100%;
}

.section7__boule-rose2-text{
    font-size: 2.2rem;
    margin: 0;
}

.section7__info3-text{
    font-size: 1rem;
    width: 20rem;
    margin: 0;
    text-align: start;
}







.section7__boule-violet3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    background-color: var(--clr-purple);
    border-radius: 100%;
}

.section7__boule-violet3-text{
    font-size: 3rem;
    margin: 0;
}

.section7__info4-text{
    font-size: 1rem;
    width: 30rem;
    margin: 0;
    text-align: start;
}





.section7__info1{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    left: 10%;
    top: 50%;    
}

.section7__info2{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    left: 10%;
    top: 50%;
}

.section7__info3{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    left: 10%;
    top: 50%;
}

.section7__info4{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    left: 10%;
    top: 50%;
}




















.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-footer);
    padding-bottom:3rem;
    margin-top: 3rem;
    gap: 2rem;
}

.footer__container-text{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
    gap: 5rem;
}

.footer__container-text a{
    text-decoration: none;
}

.footer__category{
    font-size: 1.3rem;
    cursor: pointer;
}

.footer__slogan{
    font-size: 1rem;
}

.footer__réseaux{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.footer__logo{
    height: 2rem;
    width: 2rem;
}

.footer__container-credit{
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer__svg{
    display:flex;
    flex-direction:row;
    gap: 3rem;
}

.footer__credit{
    margin: 0;
    color: grey;
}

.footer__réseaux{
    margin-top: 2rem;
}

.footer__category:hover{
    text-decoration: underline;
    text-underline-offset: 0.3em;
}



.section8__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section8__container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
}


.section8__graphe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 5rem;
    width: 100rem;
    height: 40rem;
    max-width: 60rem;
    max-height: fit-content;
}

.section8__titre{
    margin-block: 3rem;
}

.section3v2__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/fond\ ordinateur.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-block: 10rem;
}

.section3v2__image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 5rem;
    width: 80rem;
    height: 80rem;
    rotate: 10deg;
}


.section1__star{
    position: absolute;
    z-index: 100;
    top: 10%;
}


.section1__star2{
    position: absolute;
    z-index: 101;
    left: 5%;
}

.section3__star1{
    position: absolute;
    z-index: 102;
    right: 5%;
}

.section9__container {
    margin-top: 10rem;
    margin-bottom: 10rem;

}


.section9__marionnette-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    height: 800px; 
    overflow: hidden; 
}

.section9__container img {
    display: flex;
    width: 30%;
    min-width: 30rem;
}

.section9__marionnette1 {
    position: absolute; 
}

.section9__marionnette2 {
    position: absolute; 
}

.section3__star1{
    position: absolute;
    z-index: 102;
    top: 5%;
}

.section3__star2{
    position: absolute;
    z-index: 102;
    bottom: 15%;
}

.section3__star3{
    position: absolute;
    z-index: 102;
    left: 40%;
    top: 10%;
}

.section3__star4{
    position: absolute;
    z-index: 102;
    left: 20%;
}


.section6__carre{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--clr-yellow);
}

.section6__rect{
    position: absolute;
    width: 8rem;
    height: 5rem;
    background-color: var(--clr-blue);
}

.section6__ball {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--clr-pink);
    border-radius: 50%;
}

.section6__triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 5rem solid var(--clr-green);
}

