@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Potta+One&display=swap');
:root {
  --clr-text: hsl(0, 0%, 100%);
  --clr-yellow: hsl(49, 100%, 54%);
  --clr-green: hsl(154, 95%, 55%);
  --clr-pink: hsl(293, 100%, 76%);
  --clr-purple: hsl(268, 97%, 63%);
  --clr-blue: hsl(189, 87%, 53%);
  --clr-footer: hsl(276, 10%, 10%);
  --clr-bg: rgb(0, 0, 0);



  --ff-text: "Mochiy Pop One", sans-serif;
  --ff-title:"Potta One", system-ui;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--ff-title);
  font-size: 2.5rem;
  color: var(--clr-text);
  text-align: center;
  margin-top: 2rem;
}

li,p{
  font-family: var(--ff-text);
  font-size: 1rem;
  color: var(--clr-text);
}